<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head") %>
    <title>Home Page</title>
  </head>
  <body>
    <%- include("./partials/nav") %>
    <div class="container mt-3 row">
      <% for (let blog of blogs) { %>
      <div class="card col-3">
        <img class="" src="../<%= blog.coverImageURL %>" alt="CoverImage" />
        <div class="card-body">
          <h5 class="card-title"><%= blog.title %></h5>
          <a href="/blog/<%= blog._id %>" class="btn btn-primary">View</a>
        </div>
      </div>
      <% } %>
    </div>
    <%- include("./partials/scripts") %>
  </body>
</html>
